body {
    background-color: white;
}

h1 {
    color: lightgreen;
    margin-left: 20px;
}

/*#experiment {
  color: blue;
}*/

.bordered {
	color: black;
	border: 1px solid;
	border-color: black;
  margin-left: 15%;
  margin-right: 15%;
  /*height: 70px;*/
}

.bordered2 {
  color: black;
  border: 1px solid;
  border-color: black;
  margin-left: 15%;
  margin-right: 15%;
  /*height: 70px;*/
}


.button {
	font-size: 20px;
	border-radius: 8px;
}


/*
table {
	table-layout: fixed;
  margin-left:10%;
  margin-right:auto;
}

table, th, td {
	border-collapse: collapse;
  border: 1px solid black;
  width: 15%;
}

th {
  height: 30px;
}

th, td {
    padding: 5px;
    text-align: center;
}*/